<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Idriven</title>
</head>

<body background="color:gray;">
    <div class="container mt-20 mb-20" style="margin-top:50px">
        <div class="row">
            <div class="col-md-3 col-sm-3 sign-in">
            </div>
            <div class="col-md-6 col-sm-6 create-new-account mt-10 mb-10">
                <h4 class="checkout-subtitle">Change Password Form for Idriven</h4>
                {% if messages %}
                {% for msg in messages %}
                <div class="alert alert-{{msg.level_tag}} " id="msg" role="alert">
                    {{msg.message}}
                </div>
                {% endfor %}
                {% endif %}
                <form class="register-form outer-top-xs" role="form" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label class="info-title" for="exampleInputEmail2">Old Password <span>*</span></label>
                        <input type="password" name="old_password" class="form-control unicase-form-control text-input"
                            id="exampleInputEmail2" placeholder="Please enter your old password" required>
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputEmail2">New Password <span>*</span></label>
                        <input type="password" name="new_password" class="form-control unicase-form-control text-input"
                            id="exampleInputEmail2" placeholder="Please enter your new password" required>
                    </div>
                    <div class="form-group">
                        <label class="info-title" for="exampleInputEmail2">Confirm Password <span>*</span></label>
                        <input type="password" name="confirm_password"
                            class="form-control unicase-form-control text-input" id="exampleInputEmail2"
                            placeholder="Please enter your confirm password" required>
                    </div>

                    <button class="btn btn-primary btn-user btn-block" type="submit" style="margin-top:10px">Change
                        Password</button>
                </form>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 sign-in">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>